.gameCon {
    text-align: center;
    display: flex;
    align-items: center;
}
.gameCube {
    width: 50px;
    height: 50px;
    background-color: #fff16e;
    position: absolute;
    transition: 0.3s ease-in-out;
}
.d-flex {
    display: flex;
}
.flex-direction-column {
    flex-direction: column;
}
.align-center {
    align-items: center;
}
.justify-content-center {
    justify-content: center;
}
