
.recursive-container {
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recursive-box {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
     border-radius: 50%;
}