.width-30 {
    width: 30%;
}
.width-20 {
    width: 20%;
}
.width-10 {
    width: 10%;
}
.d-flex {
    display: flex;
}
.space-between {
    justify-content: space-between;
}
.p20px {
    padding: 20px;
}
.bold {
    font-weight: bold;
}
.border3 {
    border: 1px solid #9fa5c8;
}
.shopping-cart {
    width: 100%;
}
.shopping-item {
    display: flex;
    justify-content: space-between;
}
.width-100 {
    width: 100%;
}
.border {
    border: 1px solid #3e4351;
}